.speech{
     color:black;
    size: 15px;
     font-family: Arial,Helvetica, Sans-serif;
}

.direction{
    color: black;
    size: 19px;
    font-family: 'Times New Roman', Times, serif;


background-color: pink;

}

.direction:hover {
 background-color: darkseagreen;
}

.IMP

{
    color: blue;
}
.JUDGE {
    color:crimson;
}

.POOR {
    color: greenyellow;
}
table, th, td {
    border:1px solid;
    border-collapse: collapse;
    text-align: center;

    color: blue; font-weight: bold;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: 14px;
}

    tr:nth-child(even) {

    
    background-color : lightgoldenrodyellow ;

}

